[Desktop Entry]
Type=Application
Name=Démarrage automatique de LXRandR
Comment=Démarrer xrandr avec les paramètres configurés dans LXRandR
Exec=sh -c 'xrandr --output Virtual1 --primary --mode 1920x1080 --rate 60 --output Virtual2 --auto --right-of Virtual1'
OnlyShowIn=LXDE
